{{page-title "EmberDataTable"}}


<!-- <Ui::RangeSlider @min={{0}} @max={{25}} /> -->

<Ui::EmberTable
  @data={{union this.model this.result}}
  @columns={{this.columns}}
  as |eWrapper|
>
  <eWrapper.Header />
  <eWrapper.Table as |et|>
    <et.Head as |tHead|>
      <tHead.Th>
        {{tHead.column}}
      </tHead.Th>
    </et.Head>

    <et.Body as |tBody|>
      {{#let tBody.column tBody.dataItem as |column dataItem|}}
        {{#if (includes column (array 'A' 'I' 'D'))}}
          <tBody.Td>
            {{#if (is-equal  dataItem.id "total")}}
              {{get dataItem column}}
            {{else}}
              <input
                type="number"
                name=""
                value={{get dataItem column}}
                {{on "change" (fn this.onInput dataItem column)}}
              >
            {{/if}}
          </tBody.Td>
        {{else if (is-equal column "summ")}}
          <tBody.Td>
            {{get dataItem column}} = {{dataItem.validatedSum}}
          </tBody.Td>
        {{else}}
          <tBody.Td />
        {{/if}}
      {{/let}}
    </et.Body>
  </eWrapper.Table>
  <eWrapper.Footer />
</Ui::EmberTable>

<div class="">
  <button type="button" name="button" {{on "click" (fn this.clear)}}>Reset</button>
</div>

{{outlet}}
